body {
    margin: 0;
    padding: 0;

    main {
        background: $lightGrey;
        position: relative;
        padding-left: 10%;
        padding-right: 10%;
        min-height: 100vh;
    }
}